.class_for_button:hover {
  collor: red;
}
.button{
  color: blue;
}
.button:clicked {
  color: red;
}
body {
  cursor: move;
  text-align: center;
  background: blue;
  text-spacing: 4px;
  
}
.firstdiv{
  backround-image: url('https://www.astons.com/wp-content/uploads/2023/10/article_nas_ararat.webp');
  backround-attachment: fixed;
  height: 250px;
}
.seconddiv{
  height: 1200px;
}
